/*------Estilos generales a toda la página------*/
* {
    font-family: 'Lora', serif;
    font-size: 16px;
}

/*Aplicando grids a toda la página*/
body{
    display: grid;
    grid-template-areas:
    "aside  header"
    "aside  main"
    "aside  footer";
    grid-template-rows: 12rem auto 6rem;
    grid-template-columns: 1fr 8fr;
    margin: 0;
}

/*Estilos para las tablas*/
table th, td{
    border: 1px black solid;
}

table{
    background-color: #d2f9d9;
    border-collapse: collapse;
}

/*Título por sección*/
.section-title{
    color: #116c48;
    font-size: xx-large;
}
/*---------------------------------*/

/*------Estilos en el header------*/
header{
    grid-area: header;
    margin: 2rem;
}

.header-logo{
    animation-duration: 1s;
    animation-name: showup;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes showup{
    0%{
        width: 0px;
    }
    100%{
        width: 464px;
    }
}

/*Buscador en página*/
.header-browser{
    width: 40%;
}

.header-browser__button{
    border: none;
    border-radius: 2px;
    background-color: #71B78D;
    padding: 3px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/*Links de redes sociales*/
.header-redes li{
    display: inline-block;
    right: 0;
}

.header-redes{
    display: inline-block;
    padding: 0;
    position: absolute;
    right: 1rem;
}

.header-redes a img{
    width: 50px;
    height: 50px;
    display: block;
}

.header-redes a img:hover{
    transform: scale(1.5, 1.5);
}
/*---------------------------------*/

/*------Estilos en el aside------*/
aside{
    grid-area: aside;
    margin: 0;
    padding: 0;
}

/*Menú lateral*/
.aside-menu{
    height: 100%;
    margin: 0;
    width: 209px;
    background-color: #71B78D;
    animation-duration: 2s;
    animation-name: animamenu;
    animation-iteration-count: 1;
}

@keyframes animamenu {
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: #71B78D;
    }
}


.aside-menu ul{
    list-style: none;
    padding: 0;
}
.aside-menu li a{
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;

}

.aside-menu li a:hover{
    background-image: linear-gradient(to right,#116c48,#71B78D);
}
/*---------------------------------*/

/*------Estilos en el main------*/
main{
    grid-area: main;
    margin: 2rem;
}

/*main del Home*/
.main-home, .main-home .novedades{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-home .recetaSemanal, .main-home .novedades div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-home section div{
    margin: 2rem;
}

/*main de Receta*/
.section1, .section2, .section3, .section4{
    grid-area: section1;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

}

.section1{
    grid-area: section1;
}

.section2{
    grid-area: section2;
}

.section3{
    grid-area: section3;
}

.section4{
    grid-area: section4;
}

.main-receta, .main-recom{
    display: grid;
    grid-template-areas:
    "section1 section2"
    "section3 section4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    column-gap: 100px;
}

/*main de contacto (Form)*/
.contact-form fieldset{
    display: flex;
    flex-direction: column;
    background-color: #71B78D;
}

.en-columna{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.en-fila{
    display:  flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    gap: 10px
}


.contact-form form{
    display: flex;
    justify-content: center;
}

.contact-form input, .contact-form label, .contact-form select{
    display: inline-block;
}
/*---------------------------------*/

/*------Estilos en el footer------*/
footer{
    grid-area: footer;
    margin: 1rem;
}

.form{
    display: inline-block;
    width: 80%;
}

.topbut{
    padding: 10px;
    background-color: #71B78D;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 1rem;
    margin-top: 30px;
    display: inline-block;
    border-radius: 4px;
}

.topbut:hover{
    box-shadow: 5px 5px #115328;
    transform: translate(-3px, -3px)
}

footer p{
    text-align: center;
    font-size: small;
}
/*---------------------------------*/


