$lighterGreen: #d2f9d9;
$green: #71B78D;
$darkGreen: #116c48;
$padBotones: 8px;

/*Menú lateral*/
.aside__menu{
    height: 100vh;
    top: 0;
    margin: 0;
    width: 209px;
    background-color: $green;
    animation-duration: 2s;
    animation-name: animamenu;
    animation-iteration-count: 1;
    position: fixed;

    ul{
        list-style: none;
        padding: 0;

        li{
            a{
                text-decoration: none;
                color: white;
                display: block;
                margin: 10px;
                padding: $padBotones;
                border-radius: 4px;

                &:hover{
                    background-image: linear-gradient(to right, $darkGreen, $green);
                    padding: $padBotones*2;
                }
            }
        }
    }
}


@keyframes animamenu {
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: $green;
    }
}
/*---------------------------------*/