$fontSize: 16px;
$lighterGreen: #d2f9d9;
$green: #71B78D;
$darkGreen: #116c48;

/*------Estilos en el footer------*/
footer{
    grid-area: footer;
    margin-left: 1rem;
    margin-bottom: 1rem;

    .footer__form{
        display: inline-block;
        width: 80%;
    }

    .footer__topbut{
        padding: 10px;
        background-color: $green;
        text-decoration: none;
        color: white;
        position: absolute;
        right: 1rem;
        margin-top: 30px;
        display: inline-block;
        border-radius: 4px;

        .bi{
            width: 1.5rem;
            height: 1.5rem;
        }

        &:hover{
            box-shadow: 5px 5px $darkGreen;
            transform: translate(-3px, -3px);
            text-decoration: none;
            color: white;
        }
    }

    p{
        text-align: center;
        font-size: small;
    }
}
/*---------------------------------*/