$fontSize: 16px;
$lighterGreen: #d2f9d9;
$green: #71B78D;
$darkGreen: #116c48;

/*----Header de la página*/
header {
    grid-area: header;
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1{
        margin-top: 1rem;
    }
    
    .btn{
        height: 3rem;
        background-color: #71B78D;
        color: white;
        border: 0px;
        border-radius: 4px;
        animation: none;
        transition: 0ms;

        .bi{
            width: 2rem;
            height: 2rem;
        }

        &:hover{
            background-color: #71B78D;
            box-shadow: -5px -5px #116c48;
            transform: translate(3px, 3px);
            animation: none;
            color: white;
        }

    }
      
    /*Logo de la página*/
    .header__logo{
        /*animation-duration: 1s;
        animation-name: showup;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: linear;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    /*Buscador de la página*/
    .header__browser{
        width: 89%;
    }
    /*Botones de acceso a redes sociales*/
    .header__redes{
        float: right;
        padding: 0;

        li{
            display: inline-block;
            right: 0;
        }

        a{
            img{
                width: 3rem;
                height: 3rem;
                display: inline;
                &:hover{
                    transform: scale(1.5, 1.5);
                }
            }
        }
    }
}

.header__browser-button{
    width: 11%;
    border: none;
    border-radius: 2px;
    background-color: $green;
    padding: 3px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/*@keyframes showup{
    0%{
        width: 0;
    }
    100%{
        width: 29rem;
    }
}*/