@import 'header.scss';
@import 'body.scss';
@import 'general.scss';
@import 'aside.scss';
@import 'main.scss';
@import 'footer.scss';

$fontSize: 16px;
$lighterGreen: #d2f9d9;
$green: #71B78D;
$darkGreen: #116c48;

/*----Estilos para tablas----*/
table{
    background-color: $lighterGreen;
    border-collapse: collapse;
    thead, tbody {
            border: 1px black solid;
    }
}

/*Título por sección*/
.section-title{
    color: $darkGreen;
    font-size: xx-large;
}

